* {
    margin: 0 auto;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0)), url(../bigbanner.jpg);
    background-color: gray;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Tiro Devanagari Marathi', serif;
}

.nav {
    margin: 0;
    position: relative;
    border-bottom: 1px solid gray;
    width: 100%;
    height: 80px;

}

.menu {
    float: left;
    margin-left: 10px;
}

ul li {
    display: inline-block;
    padding-right: 25px;
}

.nav a {
    color: white;
    text-decoration: none;
    line-height: 80px;
    background-color: rgba(0, 0, 0, 0.493);
    padding: 10px 20px;
    border-radius: 15px;

}

.nav #recipe {
    background-color: rgba(255, 255, 255, 0.941);
    color: black;
    font-weight: bold;
    font-family: 'Tiro Devanagari Marathi', serif;
    box-shadow: 0 0 10px whitesmoke, 0 0 40px orange, 0 0 80px whitesmoke;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, 0.941);
    color: black;
    font-weight: bold;
    font-family: 'Tiro Devanagari Marathi', serif;
    box-shadow: 0 0 10px whitesmoke, 0 0 40px orange, 0 0 80px whitesmoke;
    transition: 0.6s;

}

.nav .right-top-menu {
    float: right;

}



/* recipe */
.content-name {
    position: relative;
    text-align: center;
    z-index: 1000;

}
.content-name h2{
    color: white;
    border: 1px solid white;
    max-width: 10%;
    padding: 10px 10px;
    border-radius: 15px;
    margin-bottom: 30px;
    background-color: black;
    z-index: 10;
    transition: 3s;

}
.content-name hr{
    position: absolute;
    top: 50%;
    left: 25%;
    right: 25%;
    width: 50%;
    z-index: -1;
    transition: 5s;
}
.content-name h2:hover,
.content-name:hover hr{
    cursor: pointer;
    background-color: white;
    color: black;
    width: 100%;
    left: 0;
    transition: 2s;
}

.content-name:hover hr::after {
    transition-delay: 2s;

}


.content {
    width: 85%;
    margin-top: 60px;
    color: black;

}
/* DOWN-FOODS */


#goidudu {
    background: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0)), url("https://media.cooky.vn/article/s640/cooky-article-cover-b5520.png");
    box-shadow: 0 0 0px whitesmoke, 0 0 0px white, 0 0 20px whitesmoke;
    border-radius: 30px;
    width: 100%;
    display: inline-block;
    margin-bottom: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}
#longgatrung {
    background: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0)), url("http://media.cooky.vn/images/blog-2016/37c40ccd-b075-4b5a-b37b-f2a591e631d1.jpg");
    box-shadow: 0 0 0px whitesmoke, 0 0 0px white, 0 0 20px whitesmoke;
    border-radius: 30px;
    width: 100%;
    display: inline-block;
    margin-bottom: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}
#gatanaudau {
    background: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0)), url("http://media.cooky.vn/images/blog-2016/4_6%20(3).JPG");
    box-shadow: 0 0 0px whitesmoke, 0 0 0px white, 0 0 20px whitesmoke;
    border-radius: 30px;
    width: 100%;
    display: inline-block;
    margin-bottom: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}
/* UP-FOODS */
.top-sellect .left-img {
    margin-left: 20px;
    margin-top: 30px;
    max-width: 570px;
    max-height: 400px;
    border-radius: 20px;
    overflow: hidden;
    /* box-shadow: 0px 0px 15px white; */
    position: relative;
    float: left;

}

.left-img .name h2{
    position: absolute;
    bottom: 23px;
    padding: 10px;
    border-bottom-right-radius: 20px;
    /* background-color: rgba(128, 128, 128, 0.379);
    border: 2px solid gray; */
    background-color: white;
    /*  */
    /* transform: translate(-50%, -50%); */
    mix-blend-mode: screen;
    color: black;

}

.top-sellect .left-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top-sellect .right-info {
    width: 50%;
    text-align: justify;
    float: right;
    height: fit-content;
    margin-top: 30px;
}

.right-info .element {
    padding-left: 20px;
}

.element .element-show {
    padding: 10px 30px;
    background-color: rgba(128, 128, 128, 0.379);
    border-radius: 10px;
    margin-bottom: 15px;
    margin-right: 20px;

}

.element h3 {
    color: white;
}

.element-show p {
    padding: 6px 0;
}

.cooking-step {
    float: left;
    text-align: justify;
}

span,
p,
h2 {
    color: white;
}

.step {
    background-color: rgba(128, 128, 128, 0.379);
    border-radius: 30px;
    padding: 10px 30px;
    margin: 10px 20px;
}

.cooking-step h3 {
    padding: 10px 30px;
    color: white;
}

.step p {
    padding: 6px 10px;
    font-size: 18px;
}